@import '../../assets/mixins.scss';

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;

  @include tablet {
    justify-content: flex-start;
  }

  @include desktop {
    justify-content: flex-start;
  }

  .productListItem {
    min-width: 100px;
    height: 100px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: #909090 1px 1px 3px;
    overflow: hidden;

    @include tablet {
      margin-right: 5px;
    }

    @include desktop {
      margin-right: 5px;
    }
  }
}