@import './assets/mixins.scss';

.title {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 6px;

  @include tablet {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }

  @include desktop {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .section {
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    padding: 8px;
    margin: 0 0 8px;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    box-shadow: #909090 1px 1px 3px;
    overflow: hidden;
    border: solid 1px rgba(96, 100, 96, 0.62);

    @include tablet {
      width: 49%;
    }

    @include desktop {
      width: 49%;
    }

    .sectionTitle {
      margin: 0 0 8px;
      color: #ec4d37;
      text-decoration: underline;
    }
  }
}

.cartSubTotal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  border: solid 1px blue;

  .cartSubTotalProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}